{#
/**
 * @file
 * Template for the main page.
 */
#}
<!-- <div class="transition anim-trans"></div> -->
<div id="particles-js" class="page ">
  {% embed '@radix/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fluid',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}
  {% endembed %}

  <main class="pt-5 pb-5">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="fluid">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="fluid">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="fluid">
        <div class="d-flex justify-content-md-between align-items-md-center">
          {{ page.footer }}
        </div>
      </div>
      <div class="row">
      {% if page.footer_left %}
          <div class="d-flex justify-content-md-between align-items-md-center col-sm">
            {{ page.footer_left }}
          </div>
      {% endif %}
      {% if page.footer_center %}    
          <div class="d-flex justify-content-md-between align-items-md-center col-sm">
            {{ page.footer_center }}
          </div>
      {% endif %}
      {% if page.footer_right %}    
          <div class="d-flex justify-content-md-between align-items-md-center col-sm">
            {{ page.footer_right }}
          </div>        
      {% endif %}  
      </div>          
    </footer>
  {% endif %}
</div>
